@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Raleway", sans-serif;
}
.seats{
    cursor: pointer;
}

.info{
    color: #03071299;
    font-weight: 600;
    font-size: 16px;
}

.info-div{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
 input:focus{
    outline: none;
}